include [[dots]]/sources/pug/utils
doctype html
if (created)
  - var datesEqual = new Date(updated).getTime() == new Date(created).getTime();
html(lang="en")
  head
    title #{title} - Spaceships in Space
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/style.css')
    if (created)
      // OpenGraph & Twitter tags
      meta(property="og:site_name" content="Spaceships in Space")
      meta(property="og:title" content=title)
      meta(property="og:url" content="https://spaceshipsin.space"+url)
      meta(property="og:description" content=preview)
      meta(property="og:image" content="https://spaceshipsin.space"+imageURL)
      meta(property="og:type" content="article")
      meta(property="article:published_time" content=created)
      unless datesEqual
        meta(property="article:modified_time" content=updated)
      if tags
        each tag in tags
          meta(property="article:tag" content=tag)
      meta(property="twitter:card" content="summary")
      meta(property="twitter:site" content="@_gaeel_")
      meta(property="twitter:creator" content="@_gaeel_")
    
  body
    #thepage
      
      // Header
      h1 🚀 Spaceships in Space
      .linkheader
        p.links
          span navigation(
            a.hlink(href="/") home 
            a.hlink(href="/tags.html") tags 
            a.hlink(href="/#contact") contact
            | )
        p.links
          span links(
            a.hlink(href="https://cv.spaceshipsin.space") gaeel's cv  
            a.hlink(href="https://lost.spaceshipsin.space") lost spaceships in space  
            a.hlink(href="https://drydock.spaceshipsin.space/gaeel/spaceshipsin-space") website sources
            | )
      hr

      // Main article
      #article
        include:marked [[markdown]]
    #footer
      hr
      // Tags
      if tags
        h4 Related tags
        ul
          - tags.unshift('all')            
          each tag in tags
            li
              span
                a(href="/tag/"+tag.replace(" ","-")+".html")= tag
                a.rss(href="/tag/"+tag.replace(" ","-")+"/rss.xml") (rss.xml)
      // Build text
      include:marked [[dots]]/sources/markdown/footer.md
      // Metadata
      if created
        hr
        .publishing-info
          p
            | Created: #{formatDate(new Date(created))} - #{formatTime(new Date(created))}
            br
            unless datesEqual
              | Updated: #{formatDate(new Date(updated))} - #{formatTime(new Date(updated))}
              br
            | Last built: #{formatDate(new Date())} - #{formatTime(new Date())}